html {
    font-family: "Helvetica Neue";
}

*:focus {
    outline: none;
}

body {
    background-color: #F5F8FA;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

p {
    padding: 0 24px;
    margin: 14px 0;
    word-wrap: break-word;
}

h1 {
    /*border-bottom: 1px solid;*/
    margin: 5px 0;
    font-weight: normal;
    font-size: 20px;
    padding: 13px 14px;
    height: 23px;
}

h3 {
    margin: 5px 0;
    font-weight: normal;
    /*font-size: 20px;*/
    padding: 13px 20px;
    height: 23px;
}

input {
    top: 10px;
    /*width: 236px;*/
    height: 50px;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 17px;
}

/* <header> */
header {
    height: 75px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.wrapper {
    width: 80%;
    margin: auto;
}

div.wrapper {
    padding: 11px 0;
}

img.logo {
    float: left;
    height: 40px;
    width: 40px;
    position: relative;
    top: 10px;
    margin: 0 15px 15px 90px;
}

img.avatar-circle {
    float: left;
    height: 30px;
    width: 50px;
    position: relative;
    top: 10px;
    margin: 0 15px 0 0;
}

input#logout {
    margin-top: 1px;
    float: right;
    width: 20%;
}

input#logout:hover {
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

input#search {
    margin-left:200px;
    border-radius: 5px; /*21*/
    width: 38%;
}

input#search:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

input[type="submit"] {
    background-color: #009EF6;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #009EF6;
}

img.avatar-circle {
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

/* </header> */

/* 3 divs */
div.wrapper-content {
    width: 80%;
    margin: auto;
    display: flex;
}

div.dashboard-left {
    float: left;
    width: 20%;
}

div.main {
    margin: 0 auto;
    width: 40%;
}

div.dashboard-right {
    float: right;
    width: 20%;
}

/* New Tweet */
div.tweet-box {
    border: 1px;
    background: #E6F5FE;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px 5px 0 0;
    padding: 9px 12px;
    font-size: 14px;
}

h1.post-twist {
    color: #66757f;
}

textarea {
    border-radius: 5px;
    width: 95%;
    padding: 10px;
    min-height: 50px;
    display: block;
    resize: none;
    border: 1px solid #D2D2D2;
}

textarea:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

input.new_tweet {
    background: #2E9BC5;
}

input.new_tweet {
    margin-top: 15px;
    width: 100%;
    display: block;
}

/* Twist stream */

div.twists-stream {
    border: 1px;
    position: relative;
}

.time {
    color: #657786;
}

.login {
    color: #657786;
}

.login::before {
    content: "\00b7"
}

.time::before {
    content: "\00b7"
}

div.twist {
    background-color: #FFFFFF;
    min-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #e6ecf0;
    padding: 9px 12px;
}

input.comments {
    margin-bottom: 5px;
    background: #009EF6;
    color: #FFFFFF;
    width: 100%;
    height: 30px;
    font-size: 12px;
}

input.comments:hover {
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

div.message-header {
    display: block;
    font-size: 16px;
}

a.username {
    font-weight: bold;
    color: #14171a;
}

a#username-twist {
    font-size:14px;
}

/* Comments */
div.comments-stream {
    margin-top: 15px;
    border: 1px;
    position: relative;
}

div.comments-header {
    /*background-color: #FFFFFF;*/
    background: #E6F5FE;
    border: 1px;
    position: relative;
    font-weight: 300;
    display: block;
    /*line-height: 22px;*/
    font-size: 18px;
    color: #66757f;
    border-bottom: 1px solid #e6ecf0;
    border-radius: 5px 5px 0 0;
}

textarea.add-comment {
    border-radius: 5px;
    width: 80%;
    margin: 0px 0px 10px 12px;
    padding: 10px;
    min-height: 50px;
    display: block;
    resize: none;
}

div.twist-for-comment {
    background-color: #FFFFFF;
    min-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #e6ecf0;
    padding: 9px 12px;
}

div.comment {
    background-color: #FFFFFF;
    min-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #e6ecf0;
    padding: 9px 12px;
}

a.comment-username {
    color: #000000;
}

div.comment-content {
    position: center;
    word-wrap: break-word;
}

.comment-username::before {
    padding-left: 14px;
    content: "  \21B3"
}

input.new-comment {
    background: #2E9BC5;
    width: 90%;
    margin: 0px 0px 10px 12px;
}

/* User dashboard*/
div.profile-card {
    margin-top: 15px;
    background-color: #FFFFFF;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    height: 190px;
}

img.dashboard-left-image {
    width: 73px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.user-name {
    text-align: center;
    font-size: 18px;
    color: #66757f;
    font-weight: 300;
    display: block;
    padding-top: 14px;
}

span.user-login {
    text-align: center;
    font-size: 18px;
    color: #66757f;
    font-weight: 300;
    display: block;
    padding: 14px 0px 14px;
}

/*Follow button*/
input.follow_user_button {
    margin-bottom: 5px;
    background: #009EF6;
    color: #FFFFFF;
    width: 100%;
    height: 30px;
    font-size: 12px;
}

input.follow_user_button:hover {
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

/*Loader*/
.loader {
    border: 16px solid white;
    border-top: 16px solid #009EF6; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 14px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Remove button*/
input.remove_button_msg {
    float: right;
    width: 100px;
    height: 30px;
    background: white;
    color: #657786;
    border: 0px;
    padding-left: 50px;
    padding-bottom: 10px;
}

input.remove_button_msg:hover {
    background-color: white;
    text-shadow: none;
}

/*Footer*/
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: white;
    text-align: center;
}