body {
    background-color: #F5F8FA;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Helvetica Neue";
}

div.login {
    padding: 30px;
    max-width: 350px;
    width: 100%  !important;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35%;
}

.login h1 {
    text-align: center;
    font-size: 1.8em;
}

input:focus {
    outline:none;
}

.login input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
}

.login input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #009EF6;
    padding: 17px 0px;
    font-size: 14px;
}

.login-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

.login-help{
    font-size: 12px;
    display: inline-block;
}

div#login-lost, div#login-not-registered {
    margin-bottom :10px;
    color : blue;
    cursor : pointer;
    text-decoration : underline;
}

.login-help a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

